@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles*/
.display-flex{
    display: flex;
}
.text-gray{
    color:#424242;
}
/* dark03*/
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14 ,0.1);
}
/*header styles*/

 
/* navbar related styles*/
.nav-item{
    list-style: none;
    margin-right: 20px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500px;
}
.brand{
    font-weight: 700;
    font-size: 3em;
}
.navbar{
       justify-content: space-between;
       align-items: center;

}
.navbar, .banner{
    max-width: 1440px;
    margin:0 auto;
}
/*baner related*/
.banner-content{
    max-width: 850px;
    margin:0 auto;
    text-align: center;
    margin-bottom: 50px;

}
.banner-title{

    font-weight: 700;
    font-size: 4em;
}
/*button primary*/
.btn-primary{
    background-color: #FF900E;
    color:white;
    padding: 20px 25px;
    font-size: 1.25rem;
    border-radius:8px;
    border:none;
}
.banner-image{
    width: 100%;
}
/* responsive media quer*/
@media screen and (max-width:576px){
    .navbar, .nav-links{
        flex-direction: column;
    }
}